* {
    box-sizing: border-box;
}

body {
    background: rgb(204, 243, 32) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#newsWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#newsWrapper .newsCard  {
    width: 60%;
    height: auto;
}